body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}

ol, 
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    background-color: dimgray;
    align-items: center;
    justify-content: space-between;
}

header a i {
    color: rebeccapurple;
    font-size: 2em ;
    padding: 0.3em;
}
header nav ul {
    display: flex;
    gap: 1.2em;
}
header nav ul li a {
    color: black;
    font-size: 2em ;
}

footer {
    list-style: none;
}

footer li a {
    color: black;
}
footer {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.seccion-1{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.seccion-2 {
    width:100%;
}

/*MENU*/
#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right:40px ;
    cursor: pointer;
    display: none;
}

   /* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
 
    header {
        background-color: burlywood;
    }
    
    .acerca-de {
        text-align: center;
    }

    .acerca-imagen {
        margin-bottom: 40px;
    }

    h2.fuente-acento {
        text-align: center;
    }

    .checkbtn{
        display: block;
    }
    
    #encabezado ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        text-align: center;
        top: 80px;
        left: 100%;
        transition: all 0,5s;
    }

    #check:checked ~ ul {
        left: 0%;
        display: block;
    }
    
    #encabezado nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    #encabezado nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ .checkbtn {
        color: #2c3e50;
    }
    
}



